.form{
    display: flex !important;
    flex-direction: column;
}

.form input{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
}

.small{
    width: 50%;
}

.large{
    width: 75%;
}

.fitted{
    width: fit-content;
}

.submit{
    width: fit-content;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    font-size: large;
    padding: 5px 5px !important;
}