:root{
  --primary-color: #ABDAFC;
  --secondary-color: #19647e;
  --accent-color: #ffc857;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.card{
  border: none !important;
}

.card-header{
  border: none !important;
}

.card-body{
  border: none !important;
}