.ticket{
    display: flex;
    margin-bottom: 20px;
}

.ticket:hover{
    color: var(--accent-color);
}

.date{
    width: 15% !important;
    vertical-align: middle;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

.link{
    text-decoration: none;
    color: var(--black);
}

.date h1, .date h2{
    color: var(--secondary-color) !important;
    font-weight: bold;
}