.card{
    margin-top: 25px;
    background-color: var(--light-gray) !important;
    min-height: 300px;
}

.header{
    color: var(--secondary-color) !important;
    background-color: var(--light-gray) !important;
}

.header h1{
    font-size: 4em;
    font-weight: bold;
    margin: auto;
    vertical-align: middle;
}

.qr{
    margin-top: 25px !important;
}

.col4{
    flex: 0 0 auto;
    width: 33.333333%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.delbtn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}